body {
  font-family: Georgia;
  background-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 1.25em;
  line-height: 1.4em;
}

h2 {
  font-size: 1.125em;
}

h3 {
  font-size: 1.05em;
}

h4, h5, h6 {
  font-size: 1em;
  margin: 1em 0;
}

h1 {
  font-size: 2em;
  line-height: 1.2em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

article {
  min-height: 100%;
  margin: 22px auto 0 auto;
  max-width: 94ex;
  text-align: start;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  box-shadow: 0px 6px 12px 3px rgba(0, 0, 0, 0.2);

  box-sizing: border-box;

  padding-left: 70px;
  padding-right: 70px;
  padding-top: 53px;
  padding-bottom: 45px;
}

article img {
  /* By default, images are centered on their own line. */
  margin: 0.5em auto;
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

a[href] {
  color: rgb(65, 110, 210);
}

hr {
  background: rgba(0, 0, 0, 0.2);
  height: 1px;
  border: 0;
}

pre {
  font-size: 0.93em;
  line-height: 1.5em;
}

blockquote, q {
  color: rgba(0, 0, 0, 0.65);
}

blockquote:not(.pullquote) {
  margin-left: 2px;
  margin-right: 6px;
  padding-left: 16px;
}

blockquote:not(.simple):not(.pullquote) {
  border-left: 3px solid rgba(0, 0, 0, 0.1);
}

article p > p:empty,
article div > p:empty,
article p > div:empty,
article div > div:empty,
article p + br,
article img + br {
  display: none;
}

table {
  font-size: 0.9em;
  text-align: start;
  word-wrap: break-word;
  border-collapse: collapse;
}

table td, table th {
  padding: 0.25em 0.5em;
  border: 1px solid rgb(216, 216, 216);
}

table th {
  background-color: rgba(0, 0, 0, 0.025);
}
